<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name = "viewport" content = "width =320px" />
        <meta name="viewport" content="initial-scale=1.0″ />
        <meta name="viewport" content="user-scalable=false" />
        <title>Help</title>
        
        <style type="text/css" media="screen">
            * {
                font-family: sans-serif;
                background-color: #dae2e4;
                text-align: center;
            }
            
            #container {
                width: 320px;
                margin-left: auto;
                margin-right: auto;
            
            }
            
            .icon img {
                width: 80px;
            }
            
            dl {
                display: inline;
                text-align:center;
            }
            
            dd, dt {
                margin: 10px;
                padding: 0;
                font-size:95%;
            }
            
            dt {
                display: inline;
            }
            
            dd {

            }
            
            div.icon {
                float: left;
                margin: auto;
                padding: 5px;
                margin: 5px;
                border: 1px solid grey;
                background-color: #d6d8e0;
                width: 130px;
            }
                    
            h1, h2, h3 {
                clear: left;
            }
            
            h1 {
            margin-top: 14px;
            }
        </style>
    </head>
    <body>
        <!--<p>Welcome to Open Virtual Deskop by Ulteo</p>-->
        <div id="container">
        <h1>{{Gestures}}</h1>
        <h2>{{MainGestures}}</h2>
        <dl>
            <div class="icon">
                <dt>{{Click}}</dt>
                <dd><img src="one_finger_tap_gestureworks.png"/></dd>
            </div>
            
            <div class="icon">
                <dt>{{RightClick}}</dt>
                <dd><img src="one_finger_hold_gestureworks.png"/></dd>
            </div>
            <div class="icon">
                <dt>{{ShowKeyboard}}</dt>
                <dd><img src="two_finger_tap_gestureworks.png"/></dd>
            </div>

            <div class="icon">
                <dt>{{ShowToolbar}}</dt>
                <dd><img src="three_finger_tap_gestureworks.png"/></dd>
            </div>
        </dl>
        <h2>{{ViewGestures}}</h2>
        <p><dl>
            <div class="icon">
                <dt>{{Zoom}}</dt>
                <dd><img src="two_finger_scale_gestureworks_custom.png"/></dd>
                </div>
            
            <div class="icon">
                <dt>{{MoveView}}</dt>
                <dd><img src="two_finger_drag_gestureworks_custom.png"/></dd>
            </div>
        </dl></p>
        <br /><br />
        <h1>{{Connection}}</h1>
            <img src="login.png"/>
            <p>{{LogInText}}</p>
        <h1>{{Toolbar}}</h1>
            <img src="toolbar.png"/>
            <p>{{ToolbarText}}</p>
        </div>
    </body>
</html>